@model leave_management.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Phân bổ nghỉ phép</h1>
<br />

<table class="table">
    <thead>
        <tr>
            
            <th>
                Loại nghỉ phép
            </th>
            
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
             
                <a asp-action="SetLeave" class="btn btn-outline-dark" asp-route-id="@item.Id">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    Phân bổ cho các nhân viên
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
