@model leave_management.Models.EditLeaveAllocationVM

@{
    ViewData["Title"] = "Edit";

}

<h1>Chỉnh sửa phân bổ nghỉ phép</h1>
<hr />
<h3>Tên loại nghỉ phép: <strong>@Model.LeaveType.Name</strong></h3>
<h3>Phân bổ cho: <strong>@Model.Employee.FirstName @Model.Employee.LastName</strong></h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"  />
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="NumberOfDays" class="control-label"></label>
                <input asp-for="NumberOfDays" class="form-control" />
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" class="btn btn-outline-dark" asp-route-id="@Model.Employee.Id">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại hồ sơ nhân viên
    </a>
</div>

