@model leave_management.Models.CreateEditGiayToTuyThanVM

@{
    ViewData["Title"] = "Create";
}

<h1>Tải lên bản scan hợp đồng lao động</h1>
<hr />
<h3>Tên nhân viên: @Model.NhanVien.FirstName @Model.NhanVien.LastName</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="MaNhanVien" type="hidden" class="form-control" />
            </div>
            @*<div class="form-group">
                <label asp-for="NgayKyKet" class="control-label"></label>
                <input asp-for="NgayKyKet" class="form-control" />
                <span asp-validation-for="NgayKyKet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label"></label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>*@
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FileGiayToTuyThanScan" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="FileGiayToTuyThanScan" class="custom-file-input" id="customFile" accept="application/pdf">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="FileGiayToTuyThanScan" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <input asp-for="MaNhanVien" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiGiayTo" class="control-label"></label>
                @Html.DropDownListFor(q => q.MaLoaiGiayTo, new SelectList(Model.MauGiayToTuyThans, "Value", "Text"), "Chọn loại giấy tờ tùy thân", new { @class = "form-control" })
                <span asp-validation-for="MaLoaiGiayTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.MaNhanVien">Quay lại danh sách hợp đồng</a>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  